.navbar {
    
    background-color: #0b88b6 !important; /* !important---ezme parametresidir. Bootstrap classları güçlüdür. O classtaki bir özelliği değiştirmek için ezmek gerekir. her kodda gerekmez*/
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.renk1 {
    background-color: #0694c9;
}

.renk2 {
    background-color: #0c88b7;
}

.online {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.5rem;
}

h4,h2 {
    font-weight: bold;
}

#iletisim h3 {
    background-color: #0b88b6;
    color:#fff;
    font-weight:bold;
    padding: 10px 0;
}

#footer h3 {
    background-color: #0b88b6;
    color:#fff;
    padding: 10px 0;
}